<h3 class="text-xl font-semibold mb-2 mt-4">Tags</h3>
<% cache ["recipe-tags", @recipe.cache_key_with_version] do %>
  <div class="flex flex-wrap gap-2 mb-4">
    <% recipe.tags.each do |tag| %>
      <span class="badge badge-secondary"><%= tag.name %></span>
    <% end %>
  </div>
<% end %>